 /* Manuel González Santos  -   UO279387*/
 /**Especificidad: 001*/
 body{
    color:#253703;
    font-family: "Calibri", "Verdana", "sans-serif";
    background-color: #ECF87F;
 }
   /**Especificidad: 001*/
 header{
    background-color: #ECF85F;
 }
 /**Especificidad: 001*/
 nav{
    display:flex;
    justify-content: space-around;
    font-size: 1.3em;
    padding: 0.2em;
 }
 /**Especificidad: 001*/
 h1,h2,h3{
  text-align: center;
 }
  /**Especificidad: 001*/
 h1{
    font-size:4em;
    text-transform: uppercase;

 }
 /**Especificidad: 001*/
 h2{
  background-color: #B0B602;
    font-size:3em;
 }
 /**Especificidad:001*/
 h3{
    font-size:1.5em;
 }
 @media only screen and (max-width: 465px) {
   /**Especificidad:001*/
  nav{
    font-size:1.2em;
    padding: 0.1em;
  }
   /**Especificidad:001*/
  h1{
    font-size:3em;
  }
   /**Especificidad:001*/
  h2{
    font-size:2em;
  }
   /**Especificidad:001*/
  h3{
    font-size:1em;
  }
}
 /**Especcificidad: 011*/
 a:link {
   color: #265301;
 }
  /**Especcificidad: 011*/
 a:visited {
   color: #437a16;
 }
  /**Especcificidad: 011*/
 a:focus {
   border-bottom: 0.1em solid;
   background: #bae498;
 }
/**Especcificidad: 011*/
 a:hover {
   border-bottom: 0.1em solid;
   background: #cdfeaa;
 }
  /**Especcificidad: 011*/
 a:active {
   background: #265301;
   color: #cdfeaa;
 }
 /**Especificidad: 001*/
 ul,ol,dl {
  /**Sobreescribe la propiedad left de padding*/
  padding-left: 2em;
}
/**Especificidad: 013*/
section > ul > li:nth-of-type(3){
   color: #07017d;
}
/**Especificidad: 001*/
li,dd,dt {
  line-height: 1.4;
}
/**Especificidad: 001*/
dt {
  font-weight: bold;
}
/**Especificidad: 001*/
table {
  background-color: #ECF86F;
   border: 0.1em solid rgb(80, 143, 12);
 }
 /**Especificidad: 001*/
 main{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 /**Especificidad: 002*/
 main>section{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1em solid rgb(80, 143, 12);
  border-radius: 1em;
  margin:0.5em;
  padding:0.5em;
  background-color: #bae498;
 }

